.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.container.exiting {
  opacity: 0;
}

.coverImage {
  width: 409px;
  height: 334px;
  object-fit: cover;
  transform: scale(0.8);
  opacity: 0;
}

@media (max-width: 420px) {
  .coverImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 16px;
  }
}

.coverImage.loaded {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in;
}

.coverImage.exiting {
  transform: scale(0.5);
  transition: transform 1s ease-in;
}