.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.container.exiting {
  opacity: 0;
}

.coverImage {
  width: 409px;
  height: 334px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 1s ease-in;
}

.coverImage.exiting {
  transform: scale(0.5);
}