.container {
  margin-top: 80px;
  font-family: var(--font-family-open-sans);
}

.breadcrumbSection {
  background-color: transparent;
}

.breadcrumbContainer {
  padding: 40px 208px 32px 208px;
}

.breadcrumbNav {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;
}

.breadcrumbLink {
  color: #2D3748;
  transition: 0.2s;
  white-space: nowrap;
  margin-right: 4px;
}

.breadcrumbLink:hover {
  color: #7B2CBF;
}

.breadcrumbNav svg {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.breadcrumbWord {
  color: #2D3748;
  opacity: 0.5;
  white-space: nowrap;
}

.contentSection {
    padding: 0px 208px;
    color: var(--color-main);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
}

.title {
    color: var(--color-purple-main);
    font-family: var(--font-family-montserrat);
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -5%;
    font-weight: 500;
}

@media (max-width: 1366px) {
    .breadcrumbContainer {
        padding: 32px 59px 24px 59px;
    }

    .contentSection {
        padding: 0px 59px;
    }

    .contentContainer {
        gap: 32px;
        padding-bottom: 60px;
    }

    .title {
        font-size: 48px;
        line-height: 64px;
    }
}

@media (max-width: 1200px) {
    .breadcrumbContainer {
        padding: 28px 48px 20px 48px;
    }

    .contentSection {
        padding: 0px 48px;
    }

    .contentContainer {
        gap: 28px;
        padding-bottom: 50px;
    }

    .title {
        font-size: 44px;
        line-height: 56px;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 70px;
    }

    .breadcrumbContainer {
        padding: 28px 32px 20px 32px;
    }

    .contentSection {
        padding: 0px 32px;
    }

    .contentContainer {
        gap: 24px;
        padding-bottom: 50px;
    }

    .title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (max-width: 1023px) {
    .container {
        margin-top: 60px;
    }

    .breadcrumbContainer {
        padding: 24px 16px 16px 16px;
    }

    .contentSection {
        padding: 0px 16px;
    }

    .contentContainer {
        gap: 24px;
        padding-bottom: 40px;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width: 360px) {
    .container {
        margin-top: 60px;
    }

    .breadcrumbContainer {
        padding: 24px 16px 16px 16px;
    }

    .contentSection {
        padding: 0px 16px;
    }

    .contentContainer {
        gap: 24px;
        padding-bottom: 40px;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
    }
}