.buttonSelectContainer {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.buttonSelectButton {
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid var(--color-gray3);
    background-color: transparent;
    color: var(--color-main);
    font-family: var(--font-family-open-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    cursor: pointer;
    transition: color 0.15s ease;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.buttonSelectButton::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--color-purple);
    z-index: -1;
    transition: top 0.15s ease;
    opacity: 1;
}

.buttonSelectButton:hover::before {
    top: 0;
}

.buttonSelectButton:hover {
    color: white;
}

.buttonSelectButtonSelected {
    color: white;
}

.buttonSelectButtonSelected::before {
    height: 100%;
    bottom: 0;
    top: auto;
    z-index: -1;
}

.buttonSelectButtonSelected:hover {
    color: white;
}

@media (max-width: 1366px) {
    .buttonSelectContainer {
        gap: 8px;
    }
}