.buttonSelectContainer {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.buttonSelectButton {
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid var(--color-gray3);
    background-color: transparent;
    color: var(--color-main);
    font-family: var(--font-family-open-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    cursor: pointer;
    transition: all 0.15s ease;
    white-space: nowrap;
}

.buttonSelectButton:hover {
    border-color: var(--color-purple);
}

.buttonSelectButton:active {
    transform: scale(0.98);
}

.buttonSelectButtonSelected {
    background-color: var(--color-purple);
    color: white;
    border-color: var(--color-purple);
}

.buttonSelectButtonSelected:hover {
    background-color: var(--color-purple);
    opacity: 0.7;
}
