.container {
    margin-top: 80px;
    background-color: white;
    font-family: var(--font-family-open-sans);
}

.titleContainer {
    padding-top: 40px;
    padding-bottom: 32px;
}

.title {
    padding: 0px 208px;
    font-family: var(--font-family-montserrat);
    font-weight: 500;
    font-style: Medium;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -5%;
}

.content {
    display: flex;
    flex-direction: row;
    padding-right: 208px;
    padding-bottom: 100px;
    padding-left: 208px;
    gap: 40px;
}

.contentLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.galleryContainer {
    height: 744px;
    position: relative;
}

.noImagesMessage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: var(--color-gray2);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 20px;
}

.galleryInfoContainer {
    position: absolute;
    top: 24px;
    left: 0px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 32px;
    gap: 8px;
    background: #7B2CBF99;
    display: flex;
    align-items: center;
    z-index: 10;
}

.galleryInfoContainerText {
    color: white;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px;
    box-shadow: 0px 0px 12px 0px #12121224;
}

.topDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descriptionTextContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.descriptionText {
    color: var(--color-gray2);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.goodThings {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.goodThing {
    background-color: #6C757D26;
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 10px;
    gap: 8px;
    align-items: center;
}

.goodThing path {
    stroke: var(--color-purple);
}

.goodThing svg {
    height: 20px;
    width: 20px;
}

.bottomDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bottomDescriptionHeader {
    color: var(--color-purple-main);
    font-family: var(--font-family-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.apartmentProps {
    display: flex;
    flex-direction: column;
}

.apartmentProp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apartmentProp:not(:last-child) {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 20px;
}

.apartmentProp:not(:first-child) {
    padding-top: 20px;
}

.apartmentPropLabel {
    color: var(--color-gray2);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.apartmentPropValue {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.contentRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.buttonContainer {
    box-shadow: 0px 0px 12px 0px #12121224;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    gap: 16px;
}

.apartmentVariants {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px 0px #12121224;
    gap: 20px;
}

@media (max-width: 1366px) {
    .title {
        padding: 0px 59px;
        font-size: 48px;
        line-height: 64px;
    }

    .content {
        padding-right: 59px;
        padding-left: 59px;
        gap: 32px;
    }

    .galleryContainer {
        width: 100%;
        height: 600px;
    }

    .galleryInfoContainerText {
        font-size: 14px;
        line-height: 20px;
    }

    .descriptionContainer {
        gap: 32px;
        padding: 24px;
    }

    .bottomDescriptionHeader {
        font-size: 20px;
        line-height: 28px;
    }

    .topDescriptionContainer {
        gap: 16px;
    }

    .bottomDescriptionContainer {
        gap: 20px;
    }

    .apartmentProp:not(:last-child) {
        padding-bottom: 16px;
    }

    .apartmentProp:not(:first-child) {
        padding-top: 16px;
    }

    .contentRight {
        gap: 24px;
    }

    .buttonContainer {
        padding: 16px;
        gap: 12px;
    }
}

@media (max-width: 1023px) {
    .container {
        margin-top: 60px;
    }

    .titleContainer {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    .title {
        padding: 0px 16px;
        font-size: 36px;
        line-height: 48px;
    }

    .content {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 40px;
        flex-direction: column;
        gap: 24px;
    }

    .contentLeft {
        width: 100%;
    }

    .galleryContainer {
        width: 100%;
        height: 280px;
    }

    .galleryInfoContainer {
        padding: 8px;
    }

    .galleryInfoContainerText {
        font-size: 14px;
        line-height: 20px;
    }

    .descriptionContainer {
        gap: 32px;
        padding: 16px;
    }

    .goodThings {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }

    .goodThing {
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 6px;
        gap: 6px;
    }

    .goodThing svg {
        height: 20px;
        width: 20px;
    }

    .topDescriptionContainer {
        gap: 12px;
    }

    .bottomDescriptionContainer {
        gap: 32px;
    }

    .apartmentProps {
        gap: 12px;
    }

    .apartmentProp:not(:last-child) {
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 12px;
    }

    .apartmentProp:not(:first-child) {
        padding-top: 12px;
    }

    .apartmentPropLabel {
        font-size: 16px;
        line-height: 24px;
    }

    .apartmentPropValue {
        font-size: 16px;
        line-height: 24px;
    }

    .contentRight {
        width: 100%;
        gap: 24px;
    }

    .buttonContainer {
        padding: 12px;
        gap: 10px;
    }

    .apartmentVariants {
        gap: 16px;
    }
}

@media (max-width: 360px) {
    .title {
        padding: 0px 16px;
        font-size: 28px;
        line-height: 36px;
    }

    .titleContainer {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    .content {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 40px;
        gap: 24px;
    }

    .galleryContainer {
        width: 100%;
        height: 280px;
    }

    .galleryInfoContainer {
        padding: 8px;
    }

    .galleryInfoContainerText {
        font-size: 14px;
        line-height: 20px;
    }

    .descriptionContainer {
        gap: 32px;
        padding: 16px;
    }

    .descriptionText {
        font-size: 16px;
        line-height: 24px;
    }

    .goodThings {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }

    .goodThing {
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 6px;
        gap: 6px;
    }

    .goodThing svg {
        height: 20px;
        width: 20px;
    }

    .bottomDescriptionHeader {
        font-size: 20px;
        line-height: 28px;
    }

    .topDescriptionContainer {
        gap: 12px;
    }

    .bottomDescriptionContainer {
        gap: 32px;
    }

    .apartmentProps {
        gap: 12px;
    }

    .apartmentProp:not(:last-child) {
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 12px;
    }

    .apartmentProp:not(:first-child) {
        padding-top: 12px;
    }

    .apartmentPropLabel {
        font-size: 16px;
        line-height: 24px;
    }

    .apartmentPropValue {
        font-size: 16px;
        line-height: 24px;
    }

    .contentRight {
        width: 100%;
        gap: 24px;
    }

    .buttonContainer {
        padding: 12px;
        gap: 10px;
    }

    .apartmentVariants {
        gap: 16px;
    }
}

@media (min-width: 1921px) {
    .contentLeft {
        width: 50%;
    }

    .galleryContainer {
        width: 100%;
    }

    .contentRight {
        width: 50%;
    }
}