.container {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px var(--color-main-12);
    z-index: 2;
    background-color: var(--color-background);
    cursor: pointer;
    min-height: 600px;
}

.containerCompactWidth {
    width: 294px;
}

.imageContainer {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 100%;
    flex-shrink: 0;
}

.imageContainer img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}

.purpleTextBlock {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background-color: #7B2CBF99;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.apartmentDescription {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.apartmentGeneralInfo {
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 20px 16px 20px;
    flex-shrink: 0;
}

.apartmentTitle {
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
}

.apartmentDescElements {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.apartmentDescElement {
    color: var(--color-purple-main);
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.apartmentBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px 20px 20px 20px;
    flex-grow: 1;
    justify-content: flex-end;
}

.apartmentExtraParams {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.apartmentExtraParam {
    padding: 6px 10px;
    background-color: #6C757D26;
    font-size: 16px;
    line-height: 24px;
}

.apartmentButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customButton {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
}

.apartmentDescElement path {
    stroke: #A9B3BD;
}

.fillFix path {
    fill: #A9B3BD;
}

@media (max-width: 1366px) {
    .apartmentGeneralInfo {
        height: 156px;
    }

    .containerCompactWidth {
        width: 294px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 100%;
        min-height: auto;
    }
}