.container {
    width: 358px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px var(--color-main-12);
    z-index: 2;
    background-color: var(--color-background);
}

.apartmentDescription {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

.apartmentGeneralInfo {
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 20px 16px 20px;
}

.apartmentTitle {
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
}

.apartmentDescElements {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.apartmentDescElement {
    color: var(--color-purple-main);
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.apartmentBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px 20px 20px 20px;
}

.apartmentExtraParams {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.apartmentExtraParam {
    padding: 6px 10px;
    background-color: #6C757D26;
    font-size: 16px;
    line-height: 24px;
}

.apartmentButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customButton {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
}

.apartmentDescElement path {
    stroke: #A9B3BD;
}

.fillFix path {
    fill: #A9B3BD;
}